<div class="row col-md-8 col-md-offset-2">
  <h1><%= @game.id %></h1>

<div id= "message"></div>
<div class="panel panel-default">
  <% if @moves.any? %>
    <% @moves.each do |move| %>
      <div class="panel-body" id="moves">
        <%= render partial: 'moves/move', locals: {move: move}%>
      </div>
    <%end%>
  <%else%>
    <div class="panel-body hidden" id="moves">
    </div>
  <%end%>
</div>
  <div id="move_form">
    <%= render partial: 'moves/move_form', locals: {move: @move, game: @game}%>
  </div>
</div>
